<ion-content padding class="animated fadeIn login auth-page" style="background: rgb(235, 235, 235) !important;">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown margin-top" style="margin-top: 10rem;">
        <img src="assets/img/getfield_logo_white.png" width="320">
     <!--  <div class="logo"></div> -->
      <h4 no-margin>
        <ion-text color="light" class="fw500">
          Manejo estudiantil
        </ion-text>
      </h4>
    </div>



    <div>
    

      <ion-grid class="btn-group">
        <ion-row>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary">
              <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary" >
              <ion-icon slot="icon-only" name="logo-twitter"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button shape="round" expand="full" color="secondary" (click)="googleLogin()">
              <ion-icon slot="icon-only" name="logo-googleplus"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>


  </div>
</ion-content>